body {
    font-family: Arial, sans-serif;
    background-color: #eee8f5;
    text-align: center;
    padding: 30px 10px;
}

main {
    background-color: white;
    max-width: 400px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

button {
    background-color: #7543a3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 200px;
    max-width: 100%;
}